@using XClaim.Common.Dtos

@page "/app/claims"
@* @inject HttpClient HttpClient *@


@code {
    private string _search = string.Empty;
    private DateRange _dateRange = new (DateTime.Now.AddDays(-7).Date, DateTime.Now.Date);
    
    private IEnumerable<PaymentResponse> _content = new List<PaymentResponse>();
    private bool _selectOnRowClick = true;
    // private MudTable<PaymentResponse>? _table;
    // protected override async Task OnInitializedAsync() {
    //     _content = await HttpClient.GetFromJsonAsync<List<PaymentDto>>("api/source");
    // }

    void OnRowClick(TableRowClickEventArgs<PaymentResponse> args) { }
}

<Title>Personal claims</Title>

<MudTable @bind-SelectOnRowClick="@_selectOnRowClick" Height="calc(100vh - 256px)" Hover="true" Items="@_content" OnRowClick="@OnRowClick" T="PaymentResponse">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="true" @bind-Value="_dateRange" @bind-Search="_search"></TableToolbar>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Description</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>Status</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Description">x</MudTd>
        <MudTd DataLabel="Amount">@context.Amount</MudTd>
        <MudTd DataLabel="Category">x</MudTd>
        <MudTd DataLabel="Status">x</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new [] { 50, 100 }"/>
    </PagerContent>
</MudTable>