@using XClaim.Common.Dtos
@using XClaim.Common.Enums
@using XClaim.Common.Helpers
@inject IClaimService Http
@page "/app/claims"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private int Current { get; set; } = 1;
    MudDataGrid<ClaimResponse>? _dataGrid;
    private DateRange DateRange { get; set; } = WebConst.AppDateRange;
    private HashSet<ClaimResponse> SelectedItems { get; set; } = new HashSet<ClaimResponse>();

    private Func<ClaimResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.Description.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.Notes.Contains(Search, StringComparison.OrdinalIgnoreCase);
    
    private async Task<GridData<ClaimResponse>> ServerDataFunc(GridState<ClaimResponse> state) {
        SelectedItems.Clear();
        this.Loading = true;
        var filter = new DateSearchFilter {
            Page = Current,
            PerPage = state.PageSize,
            Search = Search.Length > 2 ? Search : null,
            StartDate = DateRange.Start,
            EndDate = DateRange.End
        };
        var items = await Http.GetAllAsync(filter);
        this.Loading = false;
        return new GridData<ClaimResponse> {
            Items = items.Data,
            TotalItems = items.Total
        };
    }

    private async Task ReloadList(bool reload) {
        if (reload) await _dataGrid!.ReloadServerData();
    }
}

<Title>Personal Claims</Title>

<MudDataGrid @ref="_dataGrid" T="ClaimResponse" MultiSelection="true" SelectedItems="SelectedItems" ServerData="ServerDataFunc"
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" SortMode="SortMode.Multiple"
             Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="Current">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateClaim" @bind-Value="DateRange"
            OnCreateClicked="ReloadList" IsFilterActive="true" @bind-Search="Search" />
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <Column T="ClaimResponse" Field="Description" />
        <Column T="ClaimResponse" Field="Amount" />
        <Column T="ClaimResponse" Field="Status" />
        <Column T="ClaimResponse" Field="Category">
            <CellTemplate>
                @(context.Item.Category?.Name ?? "None")
            </CellTemplate>
        </Column>
        <Column T="ClaimResponse">
            <CellTemplate>
                @if (context.Item.Status == ClaimStatus.Pending) {
                    <FormEditTrigger TForm="MutateClaim" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
                } else {
                    <MudIconButton Class="pa-2 ml-1" Icon="@Icons.Material.Filled.Info" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary"/>
                }
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="ClaimResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>