@inject Navigation Nav
@page "/app/settings"
@attribute [Authorize]

<Title>Settings</Title>

@code {
    protected override void OnInitialized() {
        base.OnInitialized();
        if(Nav.CanNavigateBack)
            Nav.NavigateBack();
        else
            Nav.NavigateTo(WebConst.AppHome);
    }
}