@page "/app/overview"
@attribute [Authorize]

@code {
    
}

<Title>Overview</Title>
<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 100%; min-height: 250px;">
            <AuthorizeView>
                <Authorized>
                    <h1>Hello, @context.User?.Identity?.Name!</h1>
                    You can only see this if you're authenticated.
                </Authorized>
                <NotAuthorized>
                    You're not logged in.
                </NotAuthorized>
            </AuthorizeView>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 250px;"></MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 250px;"></MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
