@code {
    private void OnNavigateAsync(NavigationContext args) { }
}

<RootWrapper>
    <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(ClientApp).Assembly" AdditionalAssemblies="new[] { typeof(MainLayout).Assembly }" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <Title>Not Found</Title>
            <LayoutView Layout="@typeof(MainLayout)">
                <ErrorFound />
            </LayoutView>
        </NotFound>
    </Router>
    </CascadingAuthenticationState>
</RootWrapper>