@inject NavigationManager Nav
@page "/app/user/bank-account"
@attribute [Authorize]

@code { }

<Title>Bank Account</Title>

<MudGrid Justify="Justify.Center" Class="mt-6">
    <MudItem xs="12" md="6">
        <MudGrid>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Account Name"/>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Account Number"/>
            </MudItem>
            <MudItem  xs="12">
                <MudSelect T="string" Label="Bank" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                    <MudSelectItem Value="@("foo")">Foo</MudSelectItem>
                    <MudSelectItem Value="@("bar")">Bar</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" Lines="3" T="string" Label="Notes"/>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.SpaceBetween">
                    <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Primary" OnClick="() => Nav.NavigateTo(WebConst.AppHome)"
                               Size="Size.Large" Class="mt-8 px-12 py-3">Back</MudButton>
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8 px-12 py-3">Save</MudButton>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>