@inject NavigationManager Nav
@page "/app/user/profile"
@attribute [Authorize]

@code { }

<Title>Profile options</Title>

<MudGrid Justify="Justify.Center" Class="mt-6">
    <MudItem xs="12" md="6">
        <MudGrid>
            <MudItem xs="12" Class="py-4">
                <MudStack Row="true" Justify="Justify.Center">
                    <MudBadge Color="Color.Warning" Origin="Origin.TopCenter" Icon="@Icons.Material.Filled.Add" Overlap="true" Bordered="true">
                        <MudAvatar Rounded="true" Style="height:75px; width:75px; font-size:2.2rem;">SA</MudAvatar>
                    </MudBadge>
                </MudStack>
            </MudItem>
            <MudItem xs="6">
                <MudTextField Variant="Variant.Outlined" T="string" Label="First Name"/>
            </MudItem>
            <MudItem xs="6">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Last Name"/>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Email"/>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Phone"/>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" Label="Username"/>
            </MudItem>
            <MudItem xs="12">
                <MudSelect T="string" Label="Currency" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter"
                           Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                    <MudSelectItem Value="@("Naira")">Naira</MudSelectItem>
                    <MudSelectItem Value="@("Dollar")">Dollar</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.SpaceBetween">
                    <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Primary" OnClick="() => Nav.NavigateTo(WebConst.AppHome)"
                               Size="Size.Large" Class="mt-8 px-12 py-3">Back</MudButton>
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8 px-12 py-3">Save</MudButton>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>