@using XClaim.Common.Dtos
@inject IDomainService Http
@page "/app/settings/domains"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private IEnumerable<DomainResponse> _elements = new List<DomainResponse>();
    private HashSet<DomainResponse> SelectedItems { get; set; } = new HashSet<DomainResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetAllAsync();
        this.Loading = false;
    }
    
    private Func<DomainResponse, bool> Filter => x =>
    string.IsNullOrWhiteSpace(Search)
    || x.Address.Contains(Search, StringComparison.OrdinalIgnoreCase)
    || x.Address.Contains(Search, StringComparison.OrdinalIgnoreCase);
    
    private async Task ArchiveSelectedItems(bool allow) {
        if (!allow) return;
        List<Guid> items = SelectedItems
        .Where(f => f?.Id != null)
        .Select(f => ((Guid) f.Id!)).ToList();
        if (items.Count > 0) {
            var result = (await Http.ArchiveRangeAsync(items)) != null;
            SelectedItems.Clear();
            await ReloadList(result);
        }
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await this.LoadItems();
        SelectedItems.Clear();
    }
}

<Title>Domain & Address management</Title>

<MudDataGrid T="DomainResponse" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems"
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" FixedHeader="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateDomain" OnCreateClicked="ReloadList"
                      IsFilterActive="false" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnArchived="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="DomainResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="DomainResponse" Field="Address" />
        <Column T="DomainResponse" Field="Active" />
        <Column T="DomainResponse" Field="Description" />
        <Column T="DomainResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateDomain" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="DomainResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>