@using XClaim.Common.Dtos

@page "/app/payments"

@code {
    private string _search = string.Empty;
    private DateRange _dateRange = new (DateTime.Now.AddDays(-7).Date, DateTime.Now.Date);
    private IEnumerable<PaymentResponse> _elements = new List<PaymentResponse>();
    private bool _selectOnRowClick = true;
    void OnRowClick(TableRowClickEventArgs<PaymentResponse> args) { }
}

<Title>Personal Payments</Title>

<MudTable @bind-SelectOnRowClick="@_selectOnRowClick" Height="500px" Hover="true" Items="@_elements" OnRowClick="@OnRowClick" T="PaymentResponse">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="FormDialog" IsFilterActive="true" @bind-Value="_dateRange" @bind-Search="_search"></TableToolbar>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Description</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Claim count</MudTh>
        <MudTh>Status</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Description">x</MudTd>
        <MudTd DataLabel="Amount">@context.Amount</MudTd>
        <MudTd DataLabel="Category">x</MudTd>
        <MudTd DataLabel="Status">x</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new [] { 50, 100 }"/>
    </PagerContent>
</MudTable>