@using XClaim.Common.Dtos
@inject IBankService Http
@page "/app/settings/banks"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private IEnumerable<BankResponse> _elements = new List<BankResponse>();
    private HashSet<BankResponse> SelectedItems { get; set; } = new HashSet<BankResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetAllAsync();
        this.Loading = false;
    }

    private Func<BankResponse, bool> Filter => x => string.IsNullOrWhiteSpace(Search) || x.Name.Contains(Search, StringComparison.OrdinalIgnoreCase);

    private async Task ArchiveSelectedItems(bool allow) {
        if (!allow) return;
        List<Guid> items = SelectedItems
        .Where(f => f?.Id != null)
        .Select(f => ((Guid) f.Id!)).ToList();
        if (items.Count > 0) {
            var result = (await Http.ArchiveRangeAsync(items)) != null;
            await ReloadList(result);
        }
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await this.LoadItems();
        SelectedItems.Clear();
    }
}

<Title>Banks</Title>

<MudDataGrid T="BankResponse" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems"
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" FixedHeader="true"
             SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateBank" OnCreateClicked="ReloadList"
                      IsFilterActive="false" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnArchived="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="BankResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="BankResponse" Field="Name" />
        <Column T="BankResponse" Field="Active" />
        <Column T="BankResponse" Field="Description" />
        <Column T="BankResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateBank" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="BankResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>