@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/server")
        ? null
        : InteractiveAuto;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>x-claim</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/XClaim.Web.Components/lib/roboto/latin.css" />
    <link rel="icon" type="image/png" href="_content/XClaim.Web.Components/favicon.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="_content/XClaim.Web.Components/icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="_content/XClaim.Web.Components/icon-192.png" />
    <link rel="stylesheet" href="_content/XClaim.Web.Components/css/app.css" />
    <link rel="stylesheet" href="x-claim.styles.css" />
    <HeadOutlet @rendermode="@RenderModeForPage"  />
</head>
<body>
    <RootWrapper>
        <Routes @rendermode="@RenderModeForPage"  />
    </RootWrapper>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
