@page "/"
@inject AuthenticationHandler _auth

@code {

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        await _auth.BootstrapAuth();
    }
}

<Title>Bootstrapping...</Title>

<MudProgressCircular Color="Color.Primary" Style="height:128px;width:128px;" Indeterminate="true" />