@inject NavigationManager Nav
@layout RootLayout
@page "/"

@functions{

    protected override void OnInitialized() {
        base.OnInitialized();
        Nav.NavigateTo("/app/auth");
    }

}

<Title>Bootstraping App</Title>

<MudText Class="mb-8">Bootstraping...!</MudText>