@page "/"
@layout EmptyLayout

<Title>Bootstrapping</Title>

<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="min-height: calc(100vh - 175px)">
    <MudProgressCircular Color="Color.Primary" Style="height:128px;width:128px;" Indeterminate="true" />
</MudStack>