@using XClaim.Common.Dtos
@inject ICurrencyService Http
@page "/app/settings/currency"
@attribute [Authorize]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private IEnumerable<CurrencyResponse> _elements = new List<CurrencyResponse>();
    private HashSet<CurrencyResponse> SelectedItems { get; set; } = new HashSet<CurrencyResponse>();
    private int CurrentPage { get; set; } = 1;
    
    protected override async Task OnInitializedAsync() => await LoadItems();

    private async Task LoadItems() {
        this.Loading = true;
        _elements = await Http.GetAllAsync();
        this.Loading = false;
    }
    
    private Func<CurrencyResponse, bool> Filter => x => string.IsNullOrWhiteSpace(Search) || x.Name.Contains(Search, StringComparison.OrdinalIgnoreCase);
    
    private async Task ArchiveSelectedItems(bool allow) {
        if (!allow) return;
        List<Guid> items = SelectedItems
        .Where(f => f?.Id != null)
        .Select(f => ((Guid) f.Id!)).ToList();
        if (items.Count > 0) {
            var result = (await Http.ArchiveRangeAsync(items)) != null;
            SelectedItems.Clear();
            await ReloadList(result);
        }
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await this.LoadItems();
    }
}

<Title>Currencies</Title>

<MudDataGrid T="CurrencyResponse" Items="@_elements" MultiSelection="true" SelectedItems="SelectedItems"
                      Loading="Loading" Height="@WebConst.TableHeight" Hover="true" FixedHeader="true"
                      SortMode="SortMode.Multiple" Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="CurrentPage">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateCurrency" OnCreateClicked="ReloadList"
                      IsFilterActive="false" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnDeleted="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="CurrencyResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="CurrencyResponse" Field="Name" />
        <Column T="CurrencyResponse" Field="Symbol" />
        <Column T="CurrencyResponse" Field="Active" />
        <Column T="CurrencyResponse" Field="Description" />
        <Column T="CurrencyResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateCurrency" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="CurrencyResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>