@page "/app/auth"

@code {
    
}

<Title>Sign In</Title>

<MudPaper Class="d-flex justify-center align-content-center flex-grow-1 gap-4 mt-16 px-4" Style="min-height: calc(100vh - 256px)" Elevation="0">
    <MudImage ObjectFit="ObjectFit.Contain" Fluid="true" Src="_content/XClaim.Web.Components/vectors/auth.svg" Alt="Sign In" />
</MudPaper>