@inject NavigationManager Nav
@inject AuthState AuthState
@page "/app/auth"

<Title>Sign In</Title>

<MudStack Style="min-height: calc(100vh - 72px)" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudGrid Spacing="2" Justify="Justify.SpaceBetween">
        <MudItem sm="12" md="8" Class="py-lg-16 py-md-2">
            <MudPaper Class="px-4 pa-lg-8" Elevation="2">
                <MudImage Class="my-lg-8 my-md-2" ObjectFit="ObjectFit.Contain" Style="min-height: 250px" Fluid="true"
                          Src="_content/XClaim.Web.Components/vectors/auth.svg" Alt="Sign In"/>
            </MudPaper>
        </MudItem>
        <MudItem Class="py-lg-8 py-md-2" sm="12" md="4">
            <MudCard Class="py-lg-8 py-md-1" Elevation="0" Style="min-width: 320px">
                <MudCardContent Class="py-lg-16 pa-md-4 pa-sm-1">
                    <MudStack Row="true" Justify="Justify.Center" Class="mb-lg-16 mb-md-1" AlignItems="AlignItems.Center">
                        <MudText Class="ma-4" Align="Align.Center" Color="Color.Primary"
                                 Typo="Typo.h5">Expense platform</MudText>
                    </MudStack>
                    <MudStack Class="pt-8 pt-sm-2" AlignItems="AlignItems.Center" Justify="Justify.Center">
                        <MudButton Size="Size.Large" Class="auth-button px-8 py-4 mt-md-16 mt-sm-2" Variant="Variant.Outlined"
                                   Style="text-transform: capitalize"
                                   OnClick="() => AuthState.TriggerApiAuth()" IconClass="mr-8" StartIcon="@Icons.Custom.Brands.Microsoft">
                            @("Sign in with Microsoft")
                        </MudButton>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudStack>

<style>
.mud-button-icon-start {
    transform: scale(1.5);
}
</style>