@page "/app/overview"

@code {
    
}

<Title>Personal overview</Title>
<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 100%"></MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 250px;"></MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 250px;"></MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
