@inherits LayoutComponentBase
@inject Navigation Nav
@inject AppState AppState
@* @inject AuthState AuthState *@

@code {
    bool _drawerOpen = true;
    void DrawerToggle() => _drawerOpen = !_drawerOpen;
}

<div>
    Help Layout
    @Body
</div>
