@using XClaim.Common.Dtos
@using XClaim.Common.Helpers
@layout ManageLayout
@inject ICategoryService Http
@page "/app/manage/category"
@attribute [Authorize(Roles = "System, Administrator")]

@code {
    private string Search { get; set; } = string.Empty;
    private bool Loading { get; set; }
    private int Current { get; set; } = 1;
    MudDataGrid<CategoryResponse>? _dataGrid;
    private HashSet<CategoryResponse> SelectedItems { get; set; } = new HashSet<CategoryResponse>();
    
    private async Task<GridData<CategoryResponse>> ServerDataFunc(GridState<CategoryResponse> state) {
        SelectedItems.Clear();
        this.Loading = true;
        var filter = new SearchFilter {
            Page = Current,
            PerPage = state.PageSize,
            Search = Search.Length > 2 ? Search : null
        };
        var items = await Http.GetAllAsync(filter);
        this.Loading = false;
        return new GridData<CategoryResponse> {
            Items = items.Data,
            TotalItems = items.Total
        };
    }
    
    private Func<CategoryResponse, bool> Filter => x => string.IsNullOrWhiteSpace(Search) || x.Name.Contains(Search, StringComparison.OrdinalIgnoreCase);

    private async Task ArchiveSelectedItems(bool allow) {
        if (!allow) return;
        List<Guid> items = SelectedItems
        .Where(f => f?.Id != null)
        .Select(f => ((Guid) f.Id!)).ToList();
        if (items.Count > 0) {
            var result = (await Http.ArchiveRangeAsync(items));
            await ReloadList(result.Succeeded);
        }
    }
    
    private async Task ReloadList(bool reload) {
        if (reload) await _dataGrid!.ReloadServerData();
    }
}

<Title>Claim Categories</Title>

<MudDataGrid @ref="_dataGrid" T="CategoryResponse" MultiSelection="true" SelectedItems="SelectedItems" ServerData="ServerDataFunc"
             Loading="Loading" Height="@WebConst.TableHeight" Hover="true" SortMode="SortMode.Multiple" FixedHeader="true" FixedFooter="true"
             Filterable="false" QuickFilter="@Filter" Hideable="true" CurrentPage="Current">
    <ToolBarContent>
        <TableToolbar TFilter="DateDialog" TValue="DateRange" TCreate="MutateCategory"
                      OnCreateClicked="ReloadList" IsFilterActive="false" @bind-Search="Search">
            <ArchiveConfirmation Count="@SelectedItems.Count" OnArchived="ArchiveSelectedItems"></ArchiveConfirmation>
        </TableToolbar>
    </ToolBarContent>
    <LoadingContent>
         <TableLoading></TableLoading>
    </LoadingContent>
    <Columns>
        <SelectColumn T="CategoryResponse" ShowInFooter="false" ShowInHeader="false" />
        <Column T="CategoryResponse" Field="Name" />
        <Column T="CategoryResponse" Field="Active" />
        <Column T="CategoryResponse" Field="Company">
            <CellTemplate>
                @(context.Item.Company?.ShortName ?? "None")
            </CellTemplate>
        </Column>
        <Column T="CategoryResponse" Field="Description" />
        <Column T="CategoryResponse">
            <CellTemplate>
                <FormEditTrigger TForm="MutateCategory" Id="context.Item.Id!.Value" OnTriggered="ReloadList"></FormEditTrigger>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
         <MudDataGridPager T="CategoryResponse" PageSizeOptions="WebConst.AppPaged" />
    </PagerContent>
</MudDataGrid>