@using Blazored.SessionStorage
@using XClaim.Common.Dtos
@using XClaim.Common.HTTP
@implements IDisposable
@inject AppState AppState
@inject ThemeState ThemeState
@inject NavigationManager Nav
@inject IProfileService UserService
@inject ISessionStorageService SessionStorage
@inject AuthenticationStateProvider AuthProvider

@code {
    protected override void OnInitialized() {
        base.OnInitialized();
        AppState.OnChange += StateHasChanged;
        ThemeState.OnChange += StateHasChanged;
    }

    public void Dispose() {
        AppState.OnChange -= StateHasChanged;
        ThemeState.OnChange -= StateHasChanged;
    }

    async Task SignOut() {
        var auth = (AuthProvider)AuthProvider;
        await UserService.SignOutAsync();
        await auth.UpdateAuthenticationState(null);
        Nav.NavigateTo(WebConst.AppAuth, true);
    }
}

<MudAppBar Elevation="3">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="AppState.ToggleSidebar" />
    <MudText Class="text-white" Typo="Typo.h5" Inline="true">@AppState.LayoutTitle</MudText>
    <MudSpacer />
    @if (ThemeState.IsLightMode) {
        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="ThemeState.ToggleTheme" />
    } else {
        <MudIconButton Icon="@Icons.Material.Filled.Brightness5" Color="Color.Inherit" OnClick="ThemeState.ToggleTheme" />
    }
    
    <MudMenu FullWidth="true" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
        <ActivatorContent>
            <div class="pl-md-8 pr-md-6">
                <MudBadge Color="Color.Success" Class="mx-2" Overlap="true" Bordered="true">
                    <MudAvatar>SA</MudAvatar>
                </MudBadge>
            </div>
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem Href="app/user/profile">Profile</MudMenuItem>
            <MudMenuItem Href="/app/user/bank-account">Bank Act</MudMenuItem>
            <MudMenuItem OnClick="SignOut">Sign Out</MudMenuItem>
        </ChildContent>
    </MudMenu>
</MudAppBar>