@implements IDisposable
@inject AppState AppState

@code {
    protected override void OnInitialized() {
        base.OnInitialized();
        AppState.OnChange += StateHasChanged;
        // ThemeState.OnChange += StateHasChanged;
    }

    public void Dispose() {
        AppState.OnChange -= StateHasChanged;
        // ThemeState.OnChange -= StateHasChanged;
    }
}

<div>app-bar</div>
